{{when-transition use="fade"}}

<h1>This is the first route</h1>

<p>Hello there!</p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem nulla, lacinia id vestibulum nec, gravida at ligula. Maecenas eu hendrerit elit, quis finibus nisi. Maecenas elit purus, volutpat quis arcu blandit, suscipit egestas elit. Nullam faucibus malesuada aliquet. Etiam nec nulla dapibus, condimentum eros a, rutrum sem. Phasellus consequat augue tempus dolor fermentum, nec volutpat urna congue. Pellentesque viverra pellentesque dictum. Etiam vel lectus quam. Nunc finibus lacinia nunc quis aliquam. Integer vitae gravida neque. In sollicitudin nisi vitae felis ornare, eu luctus lectus accumsan. Pellentesque et finibus elit. Mauris rutrum vehicula venenatis. In hendrerit egestas egestas. Curabitur venenatis et tellus non finibus.
</p>

<p>
Nam facilisis finibus magna, in facilisis enim porttitor sed. Nunc lectus eros, pharetra sed convallis vitae, egestas at erat. Maecenas tempus nunc vel mi luctus, vel fermentum diam suscipit. Quisque sed consectetur dolor. Quisque hendrerit sollicitudin metus, sed mattis dolor viverra non. Cras ac velit faucibus, mollis ligula at, lacinia justo. Aenean rhoncus sem sit amet nisl pretium, et posuere tortor dignissim. Curabitur rutrum euismod tortor, eget elementum justo pellentesque eu. Maecenas pulvinar metus ac elit varius bibendum. Maecenas aliquam quam a tempor commodo. Ut lorem turpis, hendrerit in tristique ac, vehicula at sapien.
</p>

<p>
Mauris egestas eros id risus tristique, quis lobortis magna faucibus. Curabitur massa lorem, blandit id varius id, efficitur eget elit. Maecenas maximus ante orci, nec venenatis turpis feugiat sed. Donec odio enim, tincidunt vel metus eget, tristique feugiat urna. Integer vehicula malesuada erat, sit amet interdum massa porta sit amet. Cras ullamcorper luctus tristique. Curabitur vestibulum condimentum odio, vestibulum malesuada dui dictum eleifend. Proin scelerisque, sapien a gravida pharetra, diam elit finibus ipsum, a condimentum nisi nisi eu arcu. Nam vitae viverra ipsum. Aenean venenatis, lectus a luctus tempus, sapien massa gravida sapien, ac condimentum velit libero vel nisi.
</p>

<p>
Nulla dapibus eros vel quam laoreet scelerisque. Nunc nec mauris congue, rhoncus velit sed, viverra ipsum. Pellentesque finibus diam eu eros rutrum, id convallis turpis dapibus. Maecenas a sagittis ante, vitae lacinia nisl. Nunc at nisi libero. Nulla orci quam, vehicula id magna ut, scelerisque rhoncus urna. Nunc at blandit augue. Curabitur porta scelerisque accumsan. Maecenas eros lacus, tempor quis laoreet vel, pulvinar nec nibh. Fusce tincidunt sem nisl, in maximus lacus placerat nec. Pellentesque neque lectus, tincidunt laoreet magna vel, laoreet lobortis est. Integer lectus velit, fermentum a convallis quis, rhoncus quis sem. Cras finibus at velit et egestas. Fusce imperdiet hendrerit mauris et molestie.
</p>

<p>
Vestibulum justo urna, vehicula a placerat vel, condimentum sed lectus. Vestibulum dui ipsum, egestas in cursus nec, bibendum nec dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin tempor vulputate turpis, eget finibus leo auctor ut. Pellentesque et porttitor risus. Vestibulum nec porttitor sem. Integer commodo ante ut laoreet pellentesque. Integer non malesuada ipsum, nec pulvinar mauris. Duis luctus sapien nibh, at fringilla arcu tristique id. Vestibulum leo nibh, viverra eget congue malesuada, tempor a odio.
</p>

{{link-to "Second >" "second"}}
